<div class="modal">
    <form (ngSubmit)="onSubmit()">
        <div class="user-input-group">
            <div class="user-input">
                <label for="title">Titulo:</label>
                <input id="title" name="title" class="input" type="text" [(ngModel)]="title" value="{{title}}">
            </div>
            <div class="user-input">
                <label for="institution">Institución:</label>
                <input id="institution" name="institution" class="input" type="text" [(ngModel)]="institution"
                    value="{{institution}}">
            </div>
            <div class="user-check">
                <label for="finished">Finalizado?</label>
                <input name="finished" type="checkbox" [(ngModel)]="finished">
            </div>
            <div class="input-row">
                <div class="user-input">
                    <label for="start-date">Fecha de inicio:</label>
                    <input id="start-date" type="date" name="start-date" [(ngModel)]="startDate" value="{{startDate}}" class="input">
                </div>
                <div class="user-input" *ngIf="finished">
                    <label for="end-date">Fecha de finalización:</label>
                    <input id="end-date" type="date" name="end-date" [(ngModel)]="endDate" value="{{endDate}}" class="input">
                </div>
            </div>
        </div>
        <div class="options">
            <button type="button" class="btn btn-black btn-hover-black" (click)="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-blue btn-fill">Confirm</button>
        </div>
    </form>
</div>