@import url('../../../../common/css/modal.css');

form {
    display: flex;
    flex-direction: column;
}

.user-input-group {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
}

.user-input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.user-check {
    display: flex;
    column-gap: 20px;
}

.input-row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.input-row > * {
    flex: 1;
}

input {
    font-family: var(--font-1);
    font-size: 1rem;
}

.options {
    display: flex;
}

.options > button {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0px 5px;
}

@media (min-width: 512px) {
    .input-row {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        row-gap: 0;
    }
}