:host {
    position: relative;
    padding: 60px 3% 0px;

}

.photo {
    position: absolute;
    top: -120px;
    left: 25px;

    background-color: white;
    width: 175px;
    height: 175px;
    border: 10px solid white;
    border-radius: 50%;
    overflow: hidden;
}


:host > .title {
    margin-bottom: 30px;
}

:host > .title h2 {
    margin-bottom: 20px;
}

:host > .title h4 {
    font-weight: 300;
}

:host .info {
    display: grid;

    grid-template-columns: 1fr;
    row-gap: 20px;
}

.technologies {
    display: inherit;

    grid-template-columns: 1fr;
    row-gap: 20px;
}

.technologies .title {
    margin-bottom: 10px;
}


.options {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    column-gap: 20px;
}

@media (min-width: 768px) {

    .technologies {
        display: inherit;
    
        grid-template-columns: 1fr 1fr;
        row-gap: 0px;
        column-gap: 40px;
    }
}