<div class="tech-container" [ngStyle]="{'animation-delay': index * 200 + 'ms'}">
    <span *ngIf="!isLogged || !isAdmin" class="btn tech">{{tech.name}}</span>
    <button type="button" (click)="toggleOptions()" *ngIf="isLogged && isAdmin" class="btn tech">{{tech.name}}</button>
    <div class="options" *ngIf="isLogged && isAdmin && showOptions">
        <app-edit-button (onEditClick)="editTech()"></app-edit-button>
        <app-delete-button (onDeleteClick)="deleteTech()"></app-delete-button>
    </div>
</div>