<div class="banner" [ngStyle]="{'background-image': person ?
person.bannerImageUrl ? 
'url(' + person.bannerImageUrl + ')': 'url(https://static.vecteezy.com/system/resources/previews/002/909/206/original/abstract-background-for-landing-pages-banner-placeholder-cover-book-and-print-geometric-pettern-on-screen-gradient-colors-design-vector.jpg)' : 
''}">
    <!-- <img *ngIf="person" src="{{person.bannerImage}}" alt="">
    <img *ngIf="!person" src="" alt=""> -->
    <div class="options" *ngIf="isLogged && isAdmin && person">
        <app-edit-button (onEditClick)="toggleBannerEdit()"></app-edit-button>
    </div>
</div>

<app-banner-edit
*ngIf="bannerEdit"
[person]="person"
(onCancelEdit)="toggleBannerEdit()"
(onConfirmEdit)="editBanner($event)"></app-banner-edit>