<div class="modal" >
    <form (ngSubmit)="onSubmit()" >
        <div class="user-input-group">
            <div class="user-input">
                <label for="position">Skill:</label>
                <input id="position" name="name" class="input" type="text" value="{{name}}" [(ngModel)]="name">
            </div>
            <div class="user-input">
                <label for="percent">Percent:</label>
                <div class="range">
                    <button type="button" class="btn btn-circle btn-green" (click)="changePercent(-5)">&lt;&lt;</button>
                    <button type="button" class="btn btn-circle btn-green" (click)="changePercent(-1)">&lt;</button>
                    <span class="percent">{{percent}}%</span>
                    <button type="button" class="btn btn-circle btn-green" (click)="changePercent(1)">&gt;</button>
                    <button type="button" class="btn btn-circle btn-green" (click)="changePercent(5)">&gt;&gt;</button>
                </div>
            </div>
        </div>
        <div class="options">
            <button type="button" class="btn btn-red" (click)="cancelEdit()">Cancel</button>
            <button type="submit" class="btn btn-green">Confirm</button>
        </div>
    </form>
</div>