.degree {
    background-color: white;
    width: 100%;
    max-width: 700px;
    padding: 30px 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 20px -10px black;
    margin-bottom: 1.3rem;
}

.degree .logo {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
}

.degree .logo svg {
    width: 50px;
    height: 50px;

    aspect-ratio: 1/1;
}

.degree .info > .institution {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    
    .degree {
        text-align: start;
    }

    .degree .logo {
        justify-content: start;
    }
}