<div class="photo">
    
</div>
<div class="title">
    <h2>Nombre_y_apellido</h2>
    <h4>Titulo</h4>
</div>
<div class="info">
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum commodi optio magnam ullam
        eaque ipsam pariatur illo, possimus consequuntur voluptatum?</p>

    <div class="tech-stacks">
        <div>
            <h3 class="title">Front-End:</h3>
            <ul class="stack">
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>Tailwind</li>
                <li>Angular</li>
                <li>TypeScript</li>
            </ul>
        </div>
        <div>
            <h3 class="title">Back-End:</h3>
            <ul class="stack">
                <li>NodeJS</li>
                <li>Express</li>
                <li>MongoDB</li>
                <li>Mongoose</li>
                <li>Java</li>
                <li>Spring Boot</li>
                <li>MySQL</li>
            </ul>
        </div>
    </div>
</div>