<div class="photo">
    
</div>
<div class="title">
    <h2>{{person.fullName}}</h2>
    <h4>{{person.title}}</h4>
</div>
<div class="info">
    <p class="summary">{{person.about}}</p>

    <div class="tech-stacks">
        <div>
            <h3 class="title">Front-End:</h3>
            <ul class="stack">
                <li *ngFor="let frontTech of person.techStack.frontEnd">
                    {{frontTech}}
                </li>
            </ul>
        </div>
        <div>
            <h3 class="title">Back-End:</h3>
            <ul class="stack">
                <li *ngFor="let backTech of person.techStack.backEnd">
                    {{backTech}}
                </li>
            </ul>
        </div>
    </div>
</div>