.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.skill-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    justify-items: center;
}

.loader-container {
    display: flex;
    justify-content: center;
}

.loader {
    height: 150px;
    width: 200px;
    height: 200px;
}

@media (min-width: 512px) {
    .skill-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {

    .skill-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}