<div class="modal" >
    <form (ngSubmit)="onSubmit()" >
        <div class="user-input-group">
            <div class="user-input">
                <label for="title">Titulo:</label>
                <input id="title" name="title" class="input" type="text" [(ngModel)]="title">
            </div>
            <div class="user-input">
                <label for="institution">Institución:</label>
                <input id="institution" name="institution" class="input" type="text" [(ngModel)]="institution">
            </div>
            <div class="user-input">
                <label for="start-date">Fecha de inicio:</label>
                <input id="start-date" name="startDate" [(ngModel)]="startDate" class="input">
            </div>
            <div class="user-input">
                <label for="end-date">Fecha de finalización:</label>
                <input id="end-date" name="endDate" [(ngModel)]="endDate" class="input">
            </div>
        </div>
        <div class="options">
            <button type="button" class="btn btn-red" (click)="cancelAdd()">Cancel</button>
            <button type="submit" class="btn btn-green">Add</button>
        </div>
    </form>
</div>