<div class="modal">
    <form (ngSubmit)="onSubmit()">
        <div class="photo">
            <img src="{{previewImage}}" alt="">
        </div>
        <div class="user-input">
            <input id="image" name="image" type="file" accept=".png, .jpg, .jpeg" (change)="uploadImage($event)">
            <label for="image" class="btn btn-blue btn-hover-blue">Upload image</label>
        </div>
        <div class="options">
            <button type="button" class="btn btn-black btn-hover-black" (click)="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-green btn-fill">Confirm</button>
        </div>
    </form>
</div>