:host {
    position: relative;
    width: 100%;
    max-width: 700px;
    
    
}

.options {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    column-gap: 20px;
}

button {
    padding: 10px;
}

svg {
    width: 100%;
}