:host {
    position: relative;
    width: 100%;
    max-width: 700px;
    padding: 30px 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-bottom: 5px solid var(--blue);

    box-shadow: 0px 5px 20px -10px black;
    transition: box-shadow 300ms, transform 300ms;
    
}

:host:hover {
    box-shadow: 0px 10px 30px -10px black;
    transform: translateY(-5px);
}

.info {
    display: flex;
    flex-direction: column;

    row-gap: 20px;
}

.info-group {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}


.small-card-text {
    font-size: 0.8rem;
    color: var(--gray);
}

h3 {
    font-weight: 500;
}

.options {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    column-gap: 20px;
}