:host {
    background-color: #F3F2EF;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


main {
    padding: 0 3%;

    background-color: white;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;

    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1080px;
}