<section id="projects">
    <h2 class="section-title">Proyectos <app-add-button  *ngIf="isLogged" (onAddClick)="toggleAdd()"></app-add-button></h2>
    <div class="section-list">
        <app-project-item
        *ngFor="let project of projects"
        [project]="project"
        [isLogged]="isLogged"
        (onEdit)="toggleEdit($event)"
        (onDelete)="toggleDelete($event)"></app-project-item>
    </div>
</section>
<app-project-add
*ngIf="adding"
(onAdd)="addProject($event)"
(onCancelAdd)="toggleAdd()"></app-project-add>

<app-project-edit
*ngIf="editing"
[project]="selectedProject"
(onEditConfirm)="editProject($event)"
(onCancelEdit)="toggleEdit()"></app-project-edit>

<app-delete-confirmation
*ngIf="deleting"
(onCancelDelete)="toggleDelete()"
(onConfirmDelete)="deleteProject()"></app-delete-confirmation>