<section id="projects">
    <h2 class="section-title">Proyectos <app-add-button  *ngIf="isLogged" (onAddClick)="toggleAdd()"></app-add-button></h2>
    <div class="section-list">
        <app-project-item
        *ngFor="let project of projects"
        [project]="project"
        (onEdit)="editProject($event)"
        (onDelete)="deleteProject($event)"></app-project-item>
    </div>
</section>
<app-project-add
*ngIf="adding"
(onAdd)="addProject($event)"
(onCancelAdd)="toggleAdd()"></app-project-add>