<div class="login-container">
    <div class="login">
        <form #f (ngSubmit)="onLogin()" novalidate>
            <div class="user-input">
                <label for="username">Username:</label>
                <input id="username" type="text" name="username" class="input" [(ngModel)]="username" required="true">
            </div>
            <div class="user-input">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" class="input" [(ngModel)]="password" required="true">
            </div>
            <p class="message {{loginFail ? 'red' : 'green'}}">{{message ? message : ""}}</p>
            <button type="submit" class="submit btn">Login</button>
        </form>
        <a class="return btn" routerLink="/home">Go back</a>
    </div>
</div>