.login-container {
    height: 100vh;
    background-image: linear-gradient(to right, var(--blue), var(--blue-light));

    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    padding: 30px;
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.login form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 300px;
}

.user-input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.submit {
    border: 2px solid var(--blue);
    border-radius: 5px;
}

.submit:hover {
    background-color: var(--blue-light);
}

.return {
    margin-top: 20px;
    border-radius: 5px;
}

.return::before {
    content:"< "
}

.return:hover {
    background-color: var(--blue-opacity);
}

.message {
    text-align: center;
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}