.login-container {
    height: 100vh;
    background-image: linear-gradient(to right, var(--blue), var(--blue-light));

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 30px;
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 300px;
}

.user-input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.submit {
    border: 2px solid var(--blue);
    border-radius: 5px;
}

.submit:hover {
    background-color: var(--blue-light);
}