<div class="modal" >
    <form (ngSubmit)="onSubmit()" >
        <div class="user-input-group">
            <div class="user-input">
                <label for="position">Project name:</label>
                <input id="position" name="name" class="input" type="text" [(ngModel)]="name" value="{{name}}">
            </div>
            <div class="user-input">
                <label for="company">Github Repository:</label>
                <input id="company" name="url" class="input" type="text" [(ngModel)]="url" value="{{url}}">
            </div>
            <div class="user-input">
                <label for="description">Description:</label>
                <textarea id="description" name="description" [(ngModel)]="description" value="{{description}}" class="input" cols="30" rows="5"></textarea>
            </div>
        </div>
        <div class="options">
            <button type="button" class="btn btn-black btn-hover-black" (click)="cancelEdit()">Cancel</button>
            <button type="submit" class="btn btn-blue btn-fill">Confirm</button>
        </div>
    </form>
</div>