<div class="modal">
    <form (ngSubmit)="onSubmit()" >
        <div class="user-input-group">
            <div class="user-input">
                <label for="position">Position:</label>
                <input id="position" name="position" class="input" type="text" [(ngModel)]="position" value="{{position}}">
            </div>
            <div class="user-input">
                <label for="company">Company:</label>
                <input id="company" name="company" class="input" type="text" [(ngModel)]="company" value="{{company}}">
            </div>
            <div class="user-input">
                <label for="description">Description:</label>
                <textarea id="description" name="description" [(ngModel)]="description" class="input" cols="30" rows="5">{{description}}</textarea>
            </div>
        </div>
        <div class="options">
            <button type="submit" class="btn btn-green">Edit</button>
            <button class="btn btn-red" (click)="closeModal()">Cancel</button>
        </div>
    </form>
</div>