<div class="modal" >
    <form (ngSubmit)="onSubmit()" >
        <div class="user-input-group">
            <div class="user-input">
                <label for="position">Nombre de tecnología:</label>
                <input id="position" name="name" class="input" type="text" value="{{name}}" [(ngModel)]="name">
            </div>
        </div>
        <div class="options">
            <button type="button" class="btn btn-black btn-hover-black" (click)="cancelEdit()">Cancelar</button>
            <button type="submit" class="btn btn-blue btn-fill">Confirmar</button>
        </div>
    </form>
</div>