<div class="logo">
    <svg width="26.458mm" height="26.458mm" version="1.1" viewBox="0 0 26.458 26.458"
        xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-84.97 -122.03)" fill="none" stroke="#000">
            <ellipse cx="98.2" cy="135.26" rx="13.006" ry="13.006" stroke-width=".44537" />
            <rect x="89.516" y="126.61" width="17.294" height="17.294" stroke-width=".23224" />
            <circle cx="98.163" cy="135.26" r="7.7247" stroke-width=".22318" />
        </g>
    </svg>
</div>
<div class="options" *ngIf="isLogged">
    <app-edit-button (onEditClick)="toggleEdit()"></app-edit-button>
    <app-delete-button (onDeleteClick)="toggleDelete()"></app-delete-button>
</div>
<div class="info">
    <h3 class="institution">{{degree.title}}</h3>
    <p>{{degree.institution}}</p>
</div>
<app-degree-edit
*ngIf="editing"
[degree]="degree"
(onCancelEdit)="toggleEdit()"
(onEdit)="confirmEdit($event)"></app-degree-edit>
<app-delete-confirmation
*ngIf="deleting"
(onConfirmDelete)="confirmDelete()"
(onCancelDelete)="toggleDelete()"></app-delete-confirmation>